<h2>Edit an article</h2>
<%binding.pry%>
<form method="POST" action="/articles/:id">
    <p>Title: <input type="text" name="title" value=""</p>
    <p>Content: <input type="text" name="content"</p><br><br>
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="submit" value="submit">
</form>