<h2>Create an article</h2>
<form method="POST" action="/articles">
    <p>Title: <input type="text" label ="title" name="title"</p>
    <p>Content: <input type="text" label ="content" name="content"</p><br><br>
    <input type="submit" value="submit">
</form>